.quiz-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;  /* Ensure proper space around quiz cards */
  }
  
  .quiz-card {
    width: 400px;
    height: auto; /* Allow height to adjust based on content */
    background: white;
    margin: 10px;
    color: black;
    padding: 20px; /* Add padding inside the card for spacing */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow for card */
    border-radius: 8px; /* Rounded corners */
  }
  
  .header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px; /* Add padding to the header */
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
  }
  
  .btn-start-quiz {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2c3e50 ; /* Dark blue color */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px; /* Space between quiz description and button */
    text-align: center;
    text-decoration: none;
    transition: opacity 0.15s;
  }
  
  .btn-start-quiz:hover {
    opacity: 0.7s;/* Slightly darker blue on hover */
  }
  .btn-stat-quiz:active{
    opacity: 0.4s;
  }
  