/* General Styles */
.register-body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #f0f2f5, #dcdde1);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full viewport height */
}

/* Register Page Styles */
.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Add padding for breathing room */
    width: 100%;
    max-width: 400px;
}

.register-form {
    background: white;
    padding: 3rem 2.5rem; /* Increased top and bottom padding */
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.register-form h2 {
    font-size: 1.8rem;
    color: #2c3e50;
    margin-bottom: 1rem;
}

.register-form p {
    color: #555;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.register-form input {
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.register-form button {
    width: 100%;
    padding: 0.8rem;
    margin-top: 1rem;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-form button:hover {
    background-color: #27ae60;
}

.register-form .message {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    text-align: center;
}

.back-home button {
    margin-top: 1rem;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.8rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-home button:hover {
    background-color: #34495e;
}

/* Links */
a {
    color: #2c3e50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.password-input {
    position: relative;
  }
  
  .password-input input {
    width: 100%;
    padding-right: 30px;
  }
  
  .password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  